@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Irish+Grover&family=Princess+Sofia&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #424952;
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .logo a {
    text-decoration: none;
    transition: 0.3s;
  }

  .logo a:hover {
    letter-spacing: 2px;
  }

  .logo h2 {
    color: #fff;
    font-family: 'Irish Grover', cursive;
  }
  
  .nav-bar {
    font-size: 110%;
  }
  
  .nav-bar li {
    display: inline-flex;
    margin: 0 10px;
    list-style-type: none;
  }

  .nav-bar a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s;
  }

  .nav-bar a:hover {
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
  }
  
  .banner {
    position: fixed;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  video {
    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.7;
    z-index: -1;
  }

  .banner-text {
    width: 60%;
    margin: 0 0 50px 50px;
    flex-direction: column;
  }

  .banner-text h1 {
    font-size: 4.5em;
    line-height: 1.5em;
    font-style: italic;
    text-align: start;
    color: #fff;
    text-shadow: 0 0 20px #262626;
  }

  .banner-text h2 {
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 0 0 20px #262626;
  }

  #explore-link {
    text-align: end;
    width: 80%;
  }

  #explore-link a {
    color: #fff;
    background-color: #424952;
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px;
    line-height: 2.5em;
    text-decoration: none;
  }

  #explore-link a:hover {
    letter-spacing: 2px;
    color: #424952;
    background-color: #fff;
    
  }



  .content-area {
    width: 100%;
    position: relative;
    top: 660px;
    background: #ddd;
    padding-top: 10px;
  }

  .main-content-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    margin: 0px 40px 40px 40px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-text {
    display: flex;
    flex-direction: column;
    background-color: #424952;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    margin-top: 40px;
    color: #fff;
    z-index: 20;
    margin-left: 50px;
  }

  .container-text h2 {
    text-shadow: 0 0 4px #262626;
  }

  .container-text p {
    text-align: justify;
  }

  #about-text span {
    font-family: 'Irish Grover', cursive;
    text-shadow: 0 0 4px #262626;
  }

  #mindfulness-text-p2 {
    font-weight: bold;
    text-align: center;
  }

  #benefits-text ul {
    list-style: none;
  }

  audio {
    width: 70%;
    margin-top: 20px;
  }

  #practice-text, #mindfulness-text {
    margin-right: 50px;
  }

  #practice-text span {
    font-style: italic;
    font-weight: bold;
  }

  #about-lotus-image {
    width: 40%;
    height: 300px;
    background: url("../images/lotus-flower.jpg") no-repeat center / cover;
    margin-left: -100px;
    margin-right: 50px;
    border-radius: 300px;
    z-index: 1;
  }

  #mindfulness-image {
    width: 40%;
    height: 300px;
    background: url("../images/mindfulness-image.jpg") no-repeat center / cover;
    margin-right: -150px;
    margin-left: 50px;
    border-radius: 300px;
    z-index: 1;
  }
  #zen-stones-image {
    width: 40%;
    height: 300px;
    background: url("../images/zen-stones.jpg") no-repeat center / cover;
    margin-left: -100px;
    margin-right: 50px;
    border-radius: 300px;
    z-index: 1;
  }

  #still-lake-image {
    width: 40%;
    height: 300px;
    background: url("../images/still-lake-image.jpg") no-repeat center / cover;
    margin-right: -150px;
    margin-left: 50px;
    border-radius: 300px;
    z-index: 1;
  }

  .sign-up {
    background-color: rgba(49, 122, 156, 0.2);
  }

  footer {
    background: #424952;;
  }

  @media (max-width: 900px) {
    header, .main-content-container {
      flex-direction: column;
    }
  }

  @media (max-width: 900px) {
    .banner-text {
      font-size: 2vw;
      margin-left: 0;
    }
  }

  @media (max-width: 900px) {
    .container-text, #about-lotus-image, #mindfulness-image, #still-lake-image, #zen-stones-image, #mindfulness-text, #practice-text {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
    }
  }

