/* Link to Google Fonts used throughout site */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Irish+Grover&family=Princess+Sofia&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

/* Styling for flexbox sticky footer on thank-you page */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Styling for the Whole Header Section */
header {
  /* Using flexbox for responsive design */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #424952;
  width: 100%;
  /* Fixed header to always display on top of page*/
  position: fixed;
  /* Using z-index to ensure header is in front 
  of the other sections as they scroll passed */
  z-index: 99;
}

/* The logos link styled */
.logo a {
  text-decoration: none;
  /* Use a transition here for smooth movement on hover */
  transition: 0.3s;
}

.logo a:hover {
  letter-spacing: 2px;
}

/* The Logo in header styled */
.logo h2 {
  color: #fff;
  font-family: 'Irish Grover', cursive;
}

/* The navigation bar section styled */
.nav-bar {
  font-size: 110%;
}

/* The list elements in the navigation bar styled */
.nav-bar li {
  display: inline-flex;
  margin: 0 10px;
  list-style-type: none;
}

/* The links for the navigation bar items */
.nav-bar a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  /* Use a transition here for smooth movement */
  transition: 0.3s;
}

.nav-bar a:hover {
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
}

/* The main container for the landing home page under the header */
.banner {
  /* fixed to main content moves over as scrolled */
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* The background video of the landing home page */
video {
  position: fixed;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* Give some opacitiy so not too dominating when text laid on top */
  opacity: 0.7;
  /* Use z-index so video sits behind the main title text on top */
  z-index: -1;
}

/* The text that sits on top of the background video of the landing home page */
.banner-text {
  width: 60%;
  margin: 0 0 50px 50px;
  /* Use flexbox for responsiveness */
  flex-direction: column;
}

.banner-text h1 {
  font-size: 4.5em;
  line-height: 1.5em;
  font-style: italic;
  text-align: start;
  color: #fff;
  /* Use shadow around text as it will be white and this helps 
  it stand out for reading accessibility against the video background */
  text-shadow: 0 0 20px #262626;
}

.banner-text h2 {
  text-align: center;
  font-size: 2.5em;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0 0 20px #262626;
}

/* Explore Button on Landing home page styled */
#explore-link {
  text-align: end;
  width: 80%;
  margin-top: 10px;
}

#explore-link a {
  color: #fff;
  background-color: #424952;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 10px;
  line-height: 2.5em;
  text-decoration: none;
}

#explore-link a:hover {
  letter-spacing: 2px;
  color: #424952;
  background-color: #fff;
}

.content-area {
  width: 100%;
  position: relative;
  top: 1000px;
  background: #ddd;
  padding-top: 20px;
}

/* This is the main content area that will move 
over the landing page and behind the header */
.main-content-container {
  background-color: #fff;
  margin: 20px 40px 40px 40px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This is the containers that hold the text of each section 
within the main content area mentioned above */
.container-text {
  display: flex;
  flex-direction: column;
  background-color: #424952;
  border-radius: 20px;
  width: 50%;
  padding: 20px;
  color: #fff;
  /* Using high z-index to ensure the text boxes 
  are in front of the images when overlapped on large screens */
  z-index: 20;
  margin-left: 50px;
}

.container-text h2 {
  text-shadow: 0 0 4px #262626;
}

.container-text p {
  text-align: justify;
}

/* The empty divs that anchor the link when chosen in the nav bar.
They are given a negative margin from the top and a positive identical height
that match the height of the header.  This allows some room on top of the 
section so it does not sit behind the fixed header */
.about-anchor,
.learn-anchor,
.practice-anchor,
.sign-up-anchor {
  margin-top: -65px;
  height: 65px;
}

/* Consistant style for whenever the company name mentioned */
#about-text span {
  font-family: 'Irish Grover', cursive;
  text-shadow: 0 0 4px #262626;
}

#mindfulness-text-p2 {
  font-weight: bold;
  text-align: center;
}

#benefits-text ul {
  list-style: none;
}

#benefits-text ul li {
  padding: 10px 0;
}

/* Styling for the audio controls */
audio {
  width: 100%;
  margin-top: 20px;
}

/* The sections with text on the right given a positive 
margin for overlapping with images on larger screens */
#practice-text,
#mindfulness-text {
  margin-right: 50px;
}

/* Title of audio styled to stand out */
#practice-text span {
  font-style: italic;
  font-weight: bold;
}

/* Images given a negative margin to overlap on larger screens */
#about-lotus-image {
  width: 40%;
  height: 300px;
  background: url("../images/lotus-flower.jpg") no-repeat center / cover;
  margin-left: -100px;
  margin-right: 50px;
  border-radius: 300px;
  z-index: 1;
}

#mindfulness-image {
  width: 40%;
  height: 300px;
  background: url("../images/mindfulness-image.avif") no-repeat center / cover;
  margin-right: -150px;
  margin-left: 50px;
  border-radius: 350px;
  z-index: 1;
}

#zen-stones-image {
  width: 40%;
  height: 300px;
  background: url("../images/zen-stones-image.jpg") no-repeat center / cover;
  margin-left: -100px;
  margin-right: 50px;
  border-radius: 300px;
  z-index: 1;
}

#still-lake-image {
  width: 40%;
  height: 300px;
  background: url("../images/still-lake-image.jpg") no-repeat center / cover;
  margin-right: -150px;
  margin-left: 50px;
  border-radius: 300px;
  z-index: 1;
}

/* Form and section on thank you page styled similarly for consistancy to user */
.form-container,
.thank-you-container {
  margin: 10px 40px;
  padding: 40px;
  border-radius: 20px;
  background: url("../images/singing-bowl.avif") no-repeat center / cover;
}

.form-text {
  color: #fff;
  width: 60%;
  margin-left: 40px;
  background-color: rgba(60, 60, 60, 0.8);
  border-radius: 40px;
  padding: 20px;
}

.form-text h2,
h3 {
  text-transform: capitalize;
}

.form-input {
  background: transparent;
  color: #fafafa;
  width: 70%;
  height: 25px;
  margin: 5px 0 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
  display: block;
}

/* Give an action to inform user when 
clicked into the section to start typing */
.form-input:hover {
  background-color: #aa1919;
}

/* Space out radio buttons for tapping ease on smaller screen */
.form-text input[type="radio"] {
  margin: 0 10px 20px 0;
}

.sign-up-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  font-size: 100%;
  background-color: #aa1919;
  color: #fafafa;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

/* Gives an action to inform user when 
about to click on submit button */
.sign-up-button:hover {
  letter-spacing: 2px;
  color: #aa1919;
  background-color: #fafafa;
}

/* No need for fixed header on thank you page as short page and no scrolling needed */
.thank-you-header {
  position: unset;
}


/* Keeping footer colour consistant with header */
footer {
  width: 100%;
  padding: 10px 30px;
  background: #424952;
}

/* Styling for flexbox sticky footer on thank-you page */
.thank-you-container {
  flex: 1 0 auto;
}

.thank-you-footer {
  flex-shrink: 0;
}

/* Using flexbox for responsiveness and 
spacing out the information within the footer */
.contact-us-container {
  width: 100%;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
}

.contact-us-info p {
  padding-left: 40px;
  /* Give some spacing between lines for smaller screens */
  padding-bottom: 20px;
}

/* Styling link within the footer the same for consistancy */
.contact-us-info a,
.app-info a,
.copyright a {
  text-decoration: none;
  color: #fafafa;
}

/* Action added to inform user visually that 
these are links and can be clicked */
.contact-us-info a:hover,
.app-info a:hover,
.copyright a:hover {
  letter-spacing: 1px;
  color: #aa1919;
  font-weight: bold;
}

.app-info p {
  display: inline-flex;
  padding-left: 40px;
}

.copyright {
  align-self: flex-end;
}

.copyright p {
  font-style: italic;
  padding-top: 20px;
}

/* Styling font awesome icons to give space before text */
i {
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* Using flexbox column for responsiveness 
  and less padding for smaller screens on heading */
  header,
  .contact-us-container {
    flex-direction: column;
    padding: 5px 0 5px;
  }

  .nav-bar li {
    font-size: 3vw;
    margin: 0 5px;
  }

  video {
    width: 100vw;
    left: 0;
    margin-top: 0;
  }

  .banner-text {
    font-size: 2vw;
  }

  .main-content-container {
    flex-direction: column;
    padding: 0;
    /* No extra white background for smaller screens as too cluttered */
    background-color: #424952;
  }

  /* Reset margins for smaller screens */
  header,
  .banner,
  .container-text,
  #about-lotus-image,
  #mindfulness-image,
  #still-lake-image,
  #zen-stones-image,
  #mindfulness-text,
  #practice-text {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  /* Circle images for smaller screen and have sit 
  either above or below the text for each section */
  #about-lotus-image,
  #mindfulness-image,
  #still-lake-image,
  #zen-stones-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-text,
  .form-input {
    width: 100%;
    margin: 0 auto;
  }

  /* Reduce padding on form for smaller screens 
  for maximum use of space for reading accessibility*/
  .form-container {
    padding: 10px;
  }
}

/* Adjust height of the content area so not visible on landing page on larger screens */
@media (min-width: 1280px) {
  .content-area {
    top: 1280px
  }
}

@media (min-width: 1600px) {
  .content-area {
    top: 1600px
  }
}